<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=(localdb)\Projects;Initial Catalog=DirectConfig;Integrated Security=SSPI;" />
    <add key="connectionStringTimeout"  value="Data Source=(localdb)\Projects;Initial Catalog=DirectConfig;Integrated Security=SSPI;Connection Timeout=120"/>
  </appSettings>
</configuration>